* {
	box-sizing: border-box;
}

body {
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-between;
	background: white;
	height: 100vh;
}

a {
	text-decoration: none;
	color: orange;
}

h2 {
	margin: 0;
}

.va-header-logo {
	width: 100%;
	height: auto;
}

.header {
	min-height: 167.19px;
	background-color: #112e51;
	width: 100%;
	display: flex;
	justify-content: center;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70vw;
	max-width: 1000px;
	/* border: solid pink; */
}

.navbar-item {
	margin: 0 auto;
	color: white;
	height: auto;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.sample-app {
	font-size: medium;
	font-weight: 400;
}

.sign-in-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* border: solid; */
	padding: 1vh;
	max-width: 1000px;
	margin: 0 auto;
	width: 70vw;
}

.control {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	/* border: solid; */
	/* margin: .5vh 0; */
}

.notification {
	position: fixed;
	top: 1%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 9999;
}

.button {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 330px;
	padding: 0.75em;
	font-size: 16px;
	margin: 1em 0;
}

.idme {
	height: max-content;
	background-color: #2e8540;
}

.loginGov {
	background-color: #e31c3d;
}

.columns {
	margin: 0;
	padding: 0;
}

.container.hero {
	flex-grow: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
	width: 100%;
}

.section {
	width: 100%;
	padding: 15vh;
}

@media (max-width: 650px) {
	.section {
		padding: 10%;
	}

	.navbar {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	h2,
	img {
		margin: 0 auto;
	}
	.va-header-logo {
		width: 100%;
		display: flex;
		flex-direction: center;
	}
}

.section .container {
	display: flex;
	flex-direction: column;
	height: 60vh;
	width: 100%;
}

button {
	width: 100%;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	max-width: 330px;
	padding: 0.75em;
	font-size: 16px;
	margin: 1em 0;
	white-space: normal !important;
}

.usa-button {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	display: block;
	text-align: center;
}

.notification.is-danger {
}
