<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/@department-of-veterans-affairs/formation/dist/formation.min.css">
  <link href="/assets/stylesheets/application.css" rel="stylesheet" type="text/css"">
  <script>
    <% if @refreshable %>
      const baseUrl = '<%= @sis_base_url %>'
      const makeRequest = () => fetch(`${baseUrl}/v0/sign_in/refresh`, { method: 'POST', credentials: 'include' })
      makeRequest()
      setInterval(() => {
        makeRequest()
      }, 1000 * 60 * 4)
    <% end %>
  </script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
        const $notification = $delete.parentNode;

        $delete.addEventListener('click', () => {
          $notification.parentNode.removeChild($notification);
        });
      });
    });
    setTimeout(function() {
      document.querySelectorAll('.notification').forEach(function(notification) {
        notification.remove();
      });
    }, 5000);
  </script>

  <script>
    function toggleSensitiveInfo(id) {
      const element = document.getElementById(id);
      const button = document.getElementById(id + '-btn');

      if (element.style.display === 'none') {
        element.style.display = 'inline';
        button.textContent = 'Hide';
      } else {
        element.style.display = 'none';
        button.textContent = 'Reveal';
      }
    }
  </script>

  <title>Sign In Service Sample App</title>
</head>
<body>
  <nav class="navbar is-link" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
    <img src='/public/assets/img/header-logo.png'/>
      <a class="navbar-item" href="/">
        Sign In Service 
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
        <% if @current_user %>
          <form method="post" action="/auth/logout">
            <button class="button is-link is-light" type="submit">Sign out</button>
          </form>
        <% end %>
        </div>
      </div>
    </div>
  </nav>
  <div class='container hero is-fullheight'>
    <% if message = flash[:notice]  %>
      <div class="notification is-success is-light">
        <button class="delete"></button>
        <%= message %>
      </div>
    <% elsif message = flash[:error] %>
      <div class="notification is-danger is-light">
        <button class="delete"></button>
        <%= message %>
      </div>
    <% end %>

    <section class="section">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <footer class="footer mt-auto">
      <div class="content has-text-centered">
      </div>
    </footer>
  </div>
</body>
</html>
