<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign In Service Sample App</title>
     <script>
        const baseUrl = '<%= ENV['SIS_BASE_URL'] %>'
        const makeRequest = () => fetch(`${baseUrl}/v0/sign_in/refresh`, { method: 'POST', credentials: 'include' })
        makeRequest()
        setInterval(() => {
          if(document.cookie.includes('vagov_info_token')) makeRequest()
        }, 1000 * 60 * 4)
    </script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
