<form method="post" action="/auth/request">
  <input type="hidden" name="type" value="idme">
  <input type="hidden" name="acr" value="loa3">
  <input class='btn btn-primary' type='submit' value='ID.me Login'>
</form>

</br>

<form method="post" action="/auth/request">
  <input type="hidden" name="type" value="logingov">
  <input type="hidden" name="acr" value="ial2">
  <input class='btn btn-primary' type='submit' value='Login.gov Login'>
</form>

</br>

<form method="get" action="/auth/logout">
  <input type="hidden" name="type" value="idme">
  <input type="hidden" name="acr" value="loa3">
  <input class='btn btn-primary' type='submit' value='Logout'>
</form>
