<!DOCTYPE html>
<html>
<head>
  <title>Redirecting to VA.gov Sign In</title>
  <meta http-equiv="refresh" content="0;url=<%= authorize_uri %>">
</head>
<body>
  <p>Redirecting to VA.gov Sign In...</p>
  <p>If you are not redirected automatically, <a href="<%= authorize_uri %>">click here</a>.</p>
</body>
</html> 